/* Add this in your main.css or within a <style> tag in your component */
.header-or-tab {
    text-align: center;
    background-color: var(--bg-color); /* Light grey background */
    padding: 5px;
    border: 1px solid var(--select-color);
    cursor: pointer;
}

.tab-button {
    padding: 10px;
    border: 1px solid var(--select-color);
    background-color: var(--bg-color);;
    cursor: pointer;
}

.tab-button.active {
    background-color:var(--bg-color);;
}

.highlighted {
    stroke: var(--text-color);
    stroke-width: 1.5px;
}

text.pep-key-label, text.protein-name-label {
    fill: var(--text-color);
    stroke: none;
    pointer-events: none; 
}

.condition-section-wrapper {
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
    box-sizing: border-box; 
    max-height: calc(60vh - 120px);
}

/* Shared styles for all sections */
.condition-section {
    width: 100%; /* Full width of the container */
    border: 1px solid var(--select-color); /* Add consistent border */
    border-radius: 5px; /* Optional: Rounded corners */
    background-color: var(--bg-color); /* Background for consistency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    box-sizing: border-box; /* Include padding and borders in width */
    padding: 10px; /* Internal spacing */
    max-height: calc(60vh - 120px);
}

.condition-row {
    margin: 2px ; /* Adds 20px top and bottom, 10px left and right */
    padding: 0px; /* Optional: Adds padding inside the row */
    box-sizing: border-box; /* Ensures padding and borders are included in size calculations */
    display: flex;
    flex-wrap: wrap;
}


.condition-content-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
}

.condition-container {
    display: flex;
    gap: 20px;
    z-index: 10; 
    width: 100%;
    box-sizing: border-box; 
}

.condition-table-container {
    flex: 0 0 35%; /* Flex-shrink: 0, Flex-grow: 0, Basis: 20% */
    max-height: calc(60vh - 120px);
    overflow-y: auto; /* Allow vertical scrolling */
    border: 1px solid var(--select-color); /* Optional: Border for clarity */
    box-sizing: border-box;
    padding: 10px;
}


.condition-protein-container {
    border: 1px solid var(--select-color); 
    flex: 0 0 65%;
    padding: 10px;
    box-sizing: border-box; 
    max-height: calc(60vh - 120px);
}


.condition-table-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.condition-table-container th,
.condition-table-container td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--select-color);
    word-wrap: break-word;
}

.condition-protein-experiment-wrapper {
    display: flex;
   /* justify-content: space-between;*/
   /* align-items: stretch;*/
    gap: 0px; 
    width: 100%; /* Full width */
    box-sizing: border-box;
}

.condition-table-container h2, .condition-protein-container h2 {
    margin: 0; /* Reset default margins */
    text-align: center; /* Center-align headings */
}

/* Scrollbar customization for better aesthetics */
.condition-table-container::-webkit-scrollbar {
    width: 8px;
}

.condition-table-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.condition-table-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--select-color);
}

.condition-protein-experiment-wrapper {
    display: flex;
   justify-content: space-between; 
    gap: 2px; 
    /*align-items: stretch;*/
    flex-grow: 1;
}

.condition-dropdown {
    display: block;
    width: 100%; 
    padding: 15px 20px; 
    line-height: 2; 
    background-color: var(--bg-color); 
    border-radius: 4px; /* Rounded corners for a modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    -webkit-appearance: none; /* Removes default styling in WebKit browsers */
    -moz-appearance: none; /* Removes default styling in Mozilla browsers */
    appearance: none; /* Standard way to remove default arrow */
    cursor: pointer; /* Indicates the dropdown can be interacted with */
    margin-bottom: 20px; /* Adds spacing below the dropdown */
    margin-top: 60px;
    /* Ensure it appears above other components z-index: 1000;*/
    position: relative; 
}


select {
    padding: 10px; /* Increase padding for better appearance */
    border: 1px solid var(--select-color); /* Add a border for visibility */
    border-radius: 4px; /* Round the edges */
    background-color: var(--bg-color); /* Ensure the background is white */
    cursor: pointer;
    appearance: none; /* Remove the default dropdown arrow styling */
}

select:focus {
    outline: none; /* Remove the default blue outline */
    border-color: var(--select-color); /* Highlight the border on focus */
}

.condition-goenrichment-container {
    display: flex;
    flex-direction: column; /* Stack header and chart vertically */
    width: 100%; /* Full width */
}

.condition-goenrichment-container {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.namespace-dropdown {
    margin-top: 10px;
}

.goenrichment-chart-content {
    width: 100%; /* Full width of the parent */
    height: auto; /* Adjust based on content */
    max-width: 100%; /* Prevent overflow */
    overflow: hidden; /* Hide anything exceeding the bounds */
    resize: both; /* Allow resizing for debugging */
    justify-content: center;  /* <-- vertical centering */
    align-items: center;      /* <-- horizontal centering */
}

.goenrichment-chart-container {
    width: 100%; /* Full width of the container */
    max-height: calc(30vh - 120px); /* Adjust height based on viewport */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    padding: 10px;
    border: 1px solid var(--select-color); /* Optional: Border for clarity */
    box-sizing: border-box;
    margin: 20px 0; /* Add spacing around the container */
    display: flex;
    flex-direction: column; /* Stack content vertically */
} 

/* Wrapper for the chart content */
.goenrichment-chart-wrapper {
    flex: 1;
    display: flex; /* Enable flexbox for alignment */
    justify-content: center; /* Center-align chart horizontally */
    align-items: center; /* Center-align chart vertically */
    overflow: visible; /* Ensure no content is clipped */
    padding: 10px;
    position: relative;
    width: 100%;
}


/* Heading for the chart section */
.goenrichment-chart-container h2 {
    min-height: 50px; /* Consistent height for the heading */
    line-height: 50px; /* Vertically center the text */
    margin: 0;
    text-align: center; /* Center-align heading text */
}

.condition-experiment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--select-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--bg-color);
    box-sizing: border-box;
}

.experiment-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between boxes */
    margin-top: 20px;
}

/* Individual experiment box */
.experiment-box {
    flex: 1 1 calc(20% - 20px); /* Each box takes 20% of width minus gap */
    max-width: 20%;
    padding: 20px;
    border: 1px solid var(--select-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color);
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Hover effect for experiment boxes */
.experiment-box:hover {
    background-color: var(--bg-color);
    transform: translateY(-2px); /* Slight lift effect */
}

/* Experiment box heading */
.experiment-box h2 {
    margin-bottom: 10px;
}

/* Placeholder text */
.experiment-box p {
    margin: 0;
}

.experiment-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.go-term-selector {
    margin-bottom: 10px;
    width: 100%;
}

.go-term-dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--select-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    cursor: pointer;
    appearance: none;
}

table {
    width: 100%; 
    box-sizing: border-box; 
}



.dose-response-d3-container text {
    font-size: var(---font-size-base) !important;
    font-family: 'Raleway', Arial, sans-serif;
  }
  