.experiment-overview-container {
    padding: 20px;
    margin-top:120px;
  }
  
  .experiment-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .experiment-table th,
  .experiment-table td {
    border: 1px solid var(--select-color); ;
    padding: 8px;
    text-align: left;
  }
  
  .experiment-table th {
    background-color: var(--bg-color); ;
    position: sticky;
    top: 0;
    z-index: 1; 
  }
  
  .experiment-table tr:hover {
    background-color: var(--bg-color); ;
  }
  
  .experiment-table tr {
    cursor: pointer;
  }
  
  .experiment-header{
    color: #102e54; /* Dark grey for contrast */
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold font for importance */
    margin-bottom: 10px; /* Space below the header */
    margin-top: 100px;
    text-align: center;
}


