.experiment-overview-container {
    padding: var(--gap);
    margin-top: 120px;
  }
  
  .experiment-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: var(--box-shadow);
  }
  
  .experiment-table th,
  .experiment-table td {
    border:var(--border);
    padding: var(--padding);
    text-align: left;
  }
  
  .experiment-table th {
    background-color: var(--bg-color); 
    position: sticky;
    top: 0;
    z-index: 1; 
  }
  
  .experiment-table tr:hover {
    background-color: var(--bg-color); 
  }
  
  .experiment-table tr {
    cursor: pointer;
  }
  
  .experiment-header{
    color: var(--text-color-header);
    font-size: var(--font-size-header);
    font-weight: bold; 
    margin-bottom: 10px; 
    margin-top: 100px;
    text-align: center;
}


