/* styles.css */
.axis text {
    font-family: "Raleway", sans-serif; 
}

.title {
    font-family: "Raleway", sans-serif; 
}

.xlabel {
    font-family: "Raleway", sans-serif; 
}

.ylabel {
    font-family: "Raleway", sans-serif; 
}


.tooltip {
    font-family: "Raleway", sans-serif; 
}

svg text {
    font-size: 17px;
    font-family: inherit;
  }