/* styles.css */
.axis text {
    font-family: var(--font-family-base); 
}

.title {
    font-family:var(--font-family-base); 
}

.xlabel {
    font-family: var(--font-family-base); 
}

.ylabel {
    font-family: var(--font-family-base); 
}


.tooltip {
    font-family:  var(--font-family-base); 
}

svg text {
    font-size:  var(--font-size-base); 
    font-family: inherit;
  }