
  .home-container {
    background-image: url('./../protein_dynamics.gif');
    background-size: contain; 
    background-position: top center; 
    background-repeat: no-repeat; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding-top: 60px;
    min-height: 100vh; 
}

  .logo-container {
    padding-top: 80px;
    text-align: center;
  }
  
  .logo {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .dspa-publications {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    width: 80%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  

.dspa-display-left{
    position:absolute;
    padding:48px;
    top:50%;left:0%;
    transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

 .dspa-text-blue,.dspa-hover-text-blue:hover{color:#0A2F59!important}

.dspa-xlarge{
    font-size:24px!important
}.dspa-xxlarge{
    font-size:80px!important
}.dspa-xxxlarge{
    font-size:120px!important
  }.dspa-jumbo{font-size:64px!important}

  .dspa-text-blue {
    position: absolute; /* Maintains absolute positioning */
    top: 20%; /* Adjust this value to move it up or down to find the perfect center */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -20%); /* Adjust to exact center */
    z-index: 2; /* Ensures it's above the background */
    width: 100%; /* Ensures the text is centered in the full width of its container */
    text-align: center; /* Ensures the text itself is centered */
}

  .dspa-logo-text{
    margin-top: 100px;
    font-size:120px;
    color:#0A2F59;
}

@media (min-width:993px){.dspa-modal-content{
    width:900px}.dspa-hide-large{
        display:none!important
    }.dspa-sidebar.dspa-collapse{
            display:block!important}}

@media (max-width:992px) and (min-width:601px){.dspa-hide-medium{display:none!important}}

@media (max-width:600px){.dspa-modal-content{
    margin:0 10px;width:auto!important
}.dspa-modal{
    padding-top:30px}
.dspa-dropdown-hover.w3-mobile .dspa-dropdown-content,.dspa-dropdown-click.w3-mobile .dspa-dropdown-content{position:relative}	
.dspa-hide-small{display:none!important}
}

.landing-page {
    /*height: 100%;*/
    line-height: 1.8;
  }

.landing-container {
    line-height: 1.8;
}

.dspa-padding {
    padding: 20px;
  }
  
.dspa-background-white {
    background-color: white; 
    border-radius: 5px;
    margin-top: 20px;
  }

.dspa-link {
    color: #0073e6;
    text-decoration: none;
  }
  
  .dspa-link:hover {
    text-decoration: underline;
  }

  h1 {
    color:#0A2F59;
  }

  h2 {
    margin-top: 20px;
    color: #0A2F59;
  }
  
  p {
    color: #ccc;
  }


  .three-boxes-container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Reduce the gap for smaller widths */
    padding: 20px;
    width: 80%; /* Make the container smaller */
    max-width: 960px; /* Adjust maximum width for larger screens */
    margin-top: 500px; /* Space from the centered text */
    flex-wrap: wrap; /* Allows boxes to wrap in smaller screens */
    position: relative;
}
  
.box {
  flex: 1 1 260px; /* Allows boxes to grow and shrink but not smaller than 260px */
  max-width: 31%; /* Restricts box from taking more than a third of container width */
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: #f4f4f4; /* Light background for the boxes */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .three-boxes-container {
      width: 100%; /* Full width for very small screens */
  }
  .box {
      max-width: 100%; /* Each box takes full width on small screens */
  }
}
  .box p.description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .box label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 1.75rem;
    color: inherit;
  }
  
  .box button,
  .box select,
  .box input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Ensures the input fills the box width */
    margin-top: 10px;
    text-align: center; /* Centers button text */
  }
  
  .box button {
    background-color: #0A2F59;
    color: #fff;
    cursor: pointer;
  }
  
  .box button:hover {
    background-color: #0A2F59;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
  }
  
  form label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  
  form input {
    width: 100%; /* Full width within the form */
    max-width: 200px; /* Limit the maximum width */
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    width: 100%; /* Same width as the input */
    max-width: 200px; /* Match the input's maximum width */
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .publication-block h3 {
    margin-top: 20px;
  }
  
  .publication-block p {
    margin-bottom: 20px; /* Adds space after each publication paragraph */
  }
  
  .publication-block a {
    display: block;
    margin-bottom: 30px; /* Adds space after the publication link */
  }