.impressum-overview-container {
    padding: var(--padding); 
    margin-top:120px;
  }
  

.impressum-header{
    color: var(--text-color-header); 
    font-weight: bold; 
    margin-bottom: var(--margin-bottom); 
    margin-top: 100px;
    text-align: center;
}


