.navigation-bar {
  overflow: hidden;
  width: 100%;
  background-color: #f1f1f1; /* Light grey background */
  color: #333; /* Dark text for contrast */
}

.navigation-white,.navigation-hover-white:hover{color:#000!important;background-color:#fff!important}

.navbar-top,.w3-bottom{
  position:fixed;
  width:100%;
  z-index:1}.navbar-top{top:0}.w3-bottom{bottom:0}

.navigation-card,.navigation-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
  /* Individual items within the bar (links/buttons) */
.navigation-bar .navigation-bar-item {
  padding: 8px 16px;
  float: left; /* Align items horizontally */
  width: auto; /* Adjust width based on content */
  border: none;
  display: block;
  outline: 0;
  text-align: center; /* Center the text inside the items */
  background-color: inherit; /* Inherits background from parent */
  color: inherit; /* Inherits text color from parent */
  text-decoration: none; /* No underlines on the links */
}

.navigation-right-align{
  text-align:right!important}.navigation-justify{text-align:justify!important}

.navigation-rightbar{border-right:6px solid #ccc!important}

.navigation-right{float:right!important}
/* Hover effect for the items */
.navigation-bar .navigation-bar-item:hover {
  background-color: #ddd; /* Lighter grey for hover background */
  color: #000; /* Black text on hover */
}

.navigation-bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  white-space:normal;
}

/* Active link styling */
.navigation-bar .navigation-bar-item.navigation-button {
  white-space: normal; /* Prevents text wrapping */
}

/* Responsive behavior */
@media (max-width: 600px) {
  .navigation-bar .navigation-bar-item {
      text-align: center;
      float: none; /* Stack items vertically on smaller screens */
  }
}