/* #nightingale-manager-container {
    display: flex;
    flex-direction: column;
    height: auto; 
    margin-top: 1px;
    background-color: transparent;
}  */


#nightingale-manager-container .track-row td:nth-child(2) {
    padding: 0px; /* Remove extra padding */
    background-color: transparent;
}

#nightingale-manager-container td,
#nightingale-manager-container th {
    padding: 1px; /* Ensure minimal padding */
    border: 1px solid #ddd;
}  

#nightingale-manager-container .track-row td {
    background-color: transparent;
}



/* nightingale-navigation,
nightingale-sequence,
nightingale-track,
nightingale-sequence-heatmap {
    width: 100%;
   /* height: auto;*/
    /* margin: 0;
    padding: 1px;
    display: block;  */
  /* max-height: 70px; */


@media (max-width: 768px) {
    nightingale-navigation, nightingale-sequence, nightingale-track, nightingale-sequence-heatmap {
        min-width: 100%; /* Ensure full width on smaller screens */
        max-height: 50px; /* Reduce height to fit small screens */
    }
}

/* @media (min-width: 769px) {
    nightingale-navigation, nightingale-sequence, nightingale-track, nightingale-sequence-heatmap {
        min-width: 1200px; 
        height: auto;
    }
} */

:root {
    --font-size-normal: 16px;
    --font-size-large: 18px;
    --legend-item-margin: 15px;
}

@media (max-width: 768px) {
    :root {
        --font-size-normal: 14px;
        --font-size-large: 16px;
        --legend-item-margin: 10px;
    }
}
