#nightingale-manager-container #tooltip {
    position: absolute;
    visibility: hidden; 
    background-color: var(--bg-color); 
    border-radius: var(--border-radius); 
    padding: var(--padding); 
    pointer-events: none; 
    font-family: var(--font-family-base); 
    z-index: 1000;
    border: var(--border); 
}

#nightingale-manager-container .tooltip-visible {
    visibility: visible; 
}

#nightingale-manager-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 1px;
    padding: 0px;
}  
#nightingale-manager-container  td {
    padding: 1px;
    white-space: nowrap;
  }
#nightingale-manager-container  td:first-child {
    background-color: transparent;
    font: 1em "Raleway", sans-serif;
    white-space: nowrap;
  }
#nightingale-manager-container  td:nth-child(2) {
    background-color: transparent;
    white-space: nowrap;
  }
  #nightingale-manager-container  tr:nth-child(-n + 3) > td {
    background-color: transparent;
    white-space: nowrap;
  }



  .experiment-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
    margin-top: var(--margin-top); 
    margin-bottom: var(--margin-bottom); 
    font-family: var(--font-family-base); 
}

.experiment-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  margin-top: var(--margin-top); 
  margin-bottom: var(--margin-bottom); 
  min-width: 120px; /* Ensure buttons have a consistent width */
  text-align: center; /* Center align button text */
  transition: var(--transition); 
  font-size: var(--font-size-base); 
  font-family: var(--font-family-base); 
}

.experiment-button {
    background-color: var(--bg-color); 
    cursor: pointer; /* Indicate clickable buttons */
    padding: 10px 20px; /* Adequate padding for comfortable clicking */
    border-radius: var(--border-radius); 
    border: var(--border); 
    box-shadow: var(--box-shadow); 
    min-width: 120px; /* Ensure buttons have a consistent width */
    text-align: center; /* Center align button text */
    transition: var(--transition); 
    font-size: var(--font-size-base); 
    font-family: var(--font-family-base); 
}

.experiment-button:hover {
    background-color: var(--shading-color-hover); 
    border: var(--border); 
    box-shadow: var(--box-shadow); 
}

.experiment-button.selected {
    background-color: var(--select-color); 
    border: var(--border); 
    box-shadow: var(--box-shadow-selected);
    font-size: var(--font-size-base); 
    font-family: var(--font-family-base); 
    color: var(--text-color, #2a222a); 
}

#experiment-dropdown {
  padding: var(--padding); 
  border: var(--border); 
  border-radius: var(--border-radius); 
  background-color: var(--bg-color); ;
  cursor: pointer;
}

#experiment-dropdown:focus {
  border-color: var(--select-color); ;
  outline: none;
}
