#nightingale-manager-container #tooltip {
    position: absolute;
    visibility: hidden; 
    background-color: var(--bg-color); 
    border-radius: var(--border-radius); 
    padding: var(--padding); 
    pointer-events: none; 
    font-family: var(--font-family-base); 
    z-index: 1000;
    border: var(--border); 
}

#nightingale-manager-container .tooltip-visible {
    visibility: visible; 
}

#nightingale-manager-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 1px;
    padding: 0px;
}  
#nightingale-manager-container  td {
    padding: 1px;
    white-space: nowrap;
  }
#nightingale-manager-container  td:first-child {
    background-color: transparent;
    font: 1em "Raleway", sans-serif;
    white-space: nowrap;
  }
#nightingale-manager-container  td:nth-child(2) {
    background-color: transparent;
    white-space: nowrap;
  }
  #nightingale-manager-container  tr:nth-child(-n + 3) > td {
    background-color: transparent;
    white-space: nowrap;
  }




