/* Styles for the overall layout container */
.container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


/* Results container styling */

/* Basic reset for margins and paddings */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Protein header styling */
.protein-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* Result text styling */
.result-text {
    display: block;
    margin-bottom: 15px;
}

/* Tooltip container styling */
.tooltip-container {
    background-color:var(--bg-color); 
    padding: 10px;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for consistency */
}

.simple-tooltip {
    background-color: var(--bg-color); 
    border: 1px solid var(--select-color); 
    border-radius: 4px;
    padding: 8px;
    font-family: "Raleway", sans-serif;
    text-align: left;
   /*  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    white-space: nowrap; /* Prevents line breaks */
}

/* Tooltip link styling */
.tooltip-link {
    color: #0077cc;
    text-decoration: none;
}

.tooltip-link:hover {
    text-decoration: underline;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; /* Set the width to full available space */
}


/* Nightingale manager container */


.pdb-selection-container {
    width: 100%; /* Make table fill the width */
    table-layout: fixed; /* Distribute columns evenly */
    border-collapse: collapse;
}

.pdb-selection-container thead {
    background-color: var(--bg-color);  /* Optional styling for header */
    position: sticky; /* Keeps the header fixed */
    top: 0;
    z-index: 1;
}

.pdb-selection-container tbody {
    display: block;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    width: 100%;
}

.pdb-selection-container tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Consistent column sizing */
}

.pdb-selection-container th, .pdb-selection-container td {
    padding: 8px; /* Adjust padding as needed */
    text-align: left;
    border: 1px solid #ddd; /* Optional border */
    white-space: nowrap; /* Prevents text wrapping */
}

.experiment-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Adjusted spacing for better layout */
    margin-top: 20px; /* Space above the button group */
    margin-bottom: 20px; /* Space below the button group */
    font-family: 'Raleway', sans-serif; /* Match existing font style */
}

.experiment-button {
    background-color: var(--bg-color); 
    cursor: pointer; /* Indicate clickable buttons */
    padding: 10px 20px; /* Adequate padding for comfortable clicking */
    border-radius: 8px; /* Rounded corners for modern look */
    border: 1px solid var(--select-color); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    min-width: 120px; /* Ensure buttons have a consistent width */
    text-align: center; /* Center align button text */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.experiment-button:hover {
    background-color: var(--bg-color); 
    border: 1px solid var(--select-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.experiment-button.selected {
    background-color: var(--bg-color); /* Highlight for selected state */
    border: 2px solid var(--select-color); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

