.container {
    display: flex;
    flex-direction: column; 
    padding-top: 60px;
    width: 100%;
}

.treatment-row {
    margin: 20px 10px; /* Adds 20px top and bottom, 10px left and right */
    padding: 10px; /* Optional: Adds padding inside the row */
    box-sizing: border-box; /* Ensures padding and borders are included in size calculations */
}


.treatment-content-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
}

.treatment-container {
    display: flex;
    gap: 20px;
    z-index: 10; 
    width: 100%;
}

.treatment-protein-container {
    margin-top: 60px;
    max-height: 85%;
    height: calc(65vh - 60px);
    overflow-y: auto;
    width: 100%;
    display: inline-block;
}

.treatment-table-container {
    flex: 1;
    margin-top: 60px;
    max-height: 85%;
    height: calc(65vh - 60px);
    width: 100%;
    overflow-y: auto; 
}

.treatment-table-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.treatment-table-container th,
.treatment-table-container td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

.treatment-protein-experiment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    width: 100%;
}

.treatment-table-container {
    display: flex; /* Use Flexbox for alignment within containers */
    flex-direction: column; /* Align content vertically */
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    margin-right: 10px; 
    margin-left: 10px; 
    max-height: calc(100vh - 120px); /* Adjust the maximum height dynamically based on viewport */
    width: 100%; /* Ensure it takes the full available width */
    box-sizing: border-box; 
}

.treatment-protein-container {
    display: flex; /* Use Flexbox for alignment within containers */
    flex-direction: column; /* Align content vertically */
    flex: 6;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.treatment-table-container h2, .treatment-protein-container h2 {
    margin: 0; /* Removes any default margin that might cause misalignment */
    padding: 0; /* Ensures no extra padding disrupts alignment */
    height: auto; /* Ensures the height adapts dynamically */
}

/* Scrollbar customization for better aesthetics */
.treatment-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.treatment-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.treatment-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.treatment-protein-experiment-wrapper {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: stretch;
    flex-grow: 1;
}

.treatment-dropdown {
    display: block;
    width: 100%; 
    padding: 15px 20px; 
    font-size: 20px;
    line-height: 2; 
    color: #444; 
    background-color: #ffffff; 
    border: 2px solid #b99f9d; 
    border-radius: 4px; /* Rounded corners for a modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    -webkit-appearance: none; /* Removes default styling in WebKit browsers */
    -moz-appearance: none; /* Removes default styling in Mozilla browsers */
    appearance: none; /* Standard way to remove default arrow */
    cursor: pointer; /* Indicates the dropdown can be interacted with */
}

.treatment-dropdown {
    margin-bottom: 20px; /* Adds spacing below the dropdown */
    margin-top: 60px;
    /* Ensure it appears above other components z-index: 1000;*/
    position: relative; 
}

select {
    padding: 10px; /* Increase padding for better appearance */
    font-size: 16px; /* Ensure the text is legible */
    border: 1px solid #ccc; /* Add a border for visibility */
    border-radius: 4px; /* Round the edges */
    background-color: #fff; /* Ensure the background is white */
    cursor: pointer;
    appearance: none; /* Remove the default dropdown arrow styling */
}

select:focus {
    outline: none; /* Remove the default blue outline */
    border-color: #999; /* Highlight the border on focus */
}

.treatment-goenrichment-container {
    display: flex;
    flex-direction: column; /* Stack header and chart vertically */
    width: 100%; /* Full width */
}

.treatment-goenrichment-container {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.namespace-dropdown {
    margin-top: 10px;
}


.goenrichment-chart-wrapper {
    display: flex; /* Enable Flexbox for centering */
    justify-content: center; /* Horizontally center the chart */
    align-items: center; /* Vertically center the chart */
    width: 100%; /* Full width of the container */
    height: auto; /* Dynamically adjust height */
}

