.experiment-header{
    color: #333; /* Dark grey for contrast */
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold font for importance */
    margin-bottom: 10px; /* Space below the header */
    margin-top: 100px;
}

.result-text{
    display: block; /* Ensures it appears on a new line */
    color: #666; /* Slightly lighter grey for regular information */
    font-size: 18px; /* Readable text size */
    margin-bottom: 15px; /* Spacing before the next section */
}

.result-container {/* Takes up all remaining space */
    width: 100%; /* Adjust this as needed */
    max-width: 1200px; /* Example max-width that you might find suitable */
    margin: auto; 
    margin-top: 50px;
}


/* Style for the namespace dropdown container */
.namespace-dropdown {
    margin-bottom: 20px;
}

/* Style for the select dropdown */
.namespace-dropdown select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    width: 200px;
}

/* Style for the tooltip */
.tooltip {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}