.experiment-header{
    color: #333; /* Dark grey for contrast */
    font-size: 24px; /* Larger font size for emphasis */
    font-weight: bold; /* Bold font for importance */
    margin-bottom: 10px; /* Space below the header */
    margin-top: 50px;
}

.result-text{
    display: block; /* Ensures it appears on a new line */
    color: #666; /* Slightly lighter grey for regular information */
    font-size: 18px; /* Readable text size */
    margin-bottom: 15px; /* Spacing before the next section */
}

.result-container {/* Takes up all remaining space */
    overflow-y: auto; /* Allows scrolling for overflow content */
    padding: 2px;
    background-color: #ffffff; /* White background for results */
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}