.experiment-header{
    color: #102e54; 
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
    margin-top: 100px;
}

.result-text{
    display: block; 
    color: #666;
    font-size: 18px; 
    margin-bottom: 15px; 
}

.result-container {
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
    margin-top: 50px;
}

.namespace-dropdown {
    margin-bottom: 20px;
}

/* Style for the select dropdown */
.namespace-dropdown select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    width: 200px;
}

/* Style for the tooltip */
.tooltip {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}