body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.landing-page {
 /* height: 100%;*/
  line-height: 1.8;
}

.dspa-background-beige {
  background-color: #d3cab8;
  height: 70vh;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}