.container {
    display: flex;
    flex-direction: column; /* This can remain if other elements need to stack vertically */
    padding-top: 10px;
}

.treatment-content-wrapper {
    display: flex;
    flex-direction: row; /* Ensure this is row to display the table and protein container next to each other */
    justify-content: space-between;
    align-items: flex-start;
}

.treatment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.treatment-protein-container {
    flex: 2;
    width: 100%;
    display: inline-block;
}

.treatment-table-container {
    flex: 1;
    width: 100%;
    max-height: 100%;
    overflow-y: auto; /* This makes the table scrollable */
}

.treatment-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.treatment-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.treatment-table-container th,
.treatment-table-container td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.treatment-protein-container,
.treatment-table-container {
    flex: 1; /* Makes both components take equal width */
    min-width: 0; /* Ensures components don't overflow */
}

.treatment-table-container {
    overflow-x: auto;
}

.treatment-protein-container {
    margin-right: 20px; /* Optional: Space on the right of the Nightingale component */
}

.treatment-table-container::-webkit-scrollbar {
    width: 8px;
}

.treatment-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.treatment-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.treatment-protein-experiment-wrapper {
    display: flex;
    justify-content: space-between; /* Distributes space between components */
    gap: 20px; /* Optional: Adds some space between the components */
}