body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: auto 1fr; /* Two columns: auto for logo, 1fr for navigation */
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
}

.logo {
  font-size: 1.5em;
}


nav {
  background-color: #333333;
  color: #fff;
  padding: 15px 20px;
}

nav ul { /* ul are unorderd lists */
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li { /* targeting list items */
  margin-right: 20px;
}

nav a { /* anchor element */
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container {
  text-align: center;
}

.search-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
}